body{
    color: #2e2e2e;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: black;
    font-weight: bold;
}

#message-1 {
    font-weight: bold;
    font-size: 15px;
}

#note {
    font-style: italic;
}

a:hover {
    background-color: white;
}
.main-content{
    flex-grow: 1;
    background-color: lightgray
}

.wrapper {
    text-align: center;
    margin: 20px;
}

footer{
    color: #888888;
    border-top: 1px solid;
    margin-top: 16px;
    padding: 16px 0;
    text-align: center;
}

header{
    margin-top: 16px;
    padding-top: 15px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color: #6e6464;
    margin-right: 16px;
    text-decoration: none;
}

.portrait{
    width: 200px;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
    width: 250px;
}

button{
    border: 1px solid #888888;
    padding: 8px;
    cursor: pointer;
    background-color: #888888;
    color: white;
}

#result table, td, th {
    margin:  0 auto;
    width: 30em;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
}

@media(max-width:600px) {
    #result table, td, th {
        width: 10em;
    }
}